target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
.idea/.name
.idea/artifacts/jsf_webflow_war_exploded.xml
.idea/artifacts/jsf_webflow_war.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_7_0.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_3.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_1.xml
.idea/libraries/Maven__commons_digester_commons_digester_1_6.xml
.idea/libraries/Maven__commons_el_commons_el_1_0.xml
.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_0.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_1.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_0_4.xml
.idea/libraries/Maven__com_sun_faces_jsf_api_2_2_12.xml
.idea/libraries/Maven__commons_validator_commons_validator_1_3_1.xml
.idea/libraries/Maven__com_sun_faces_jsf_impl_2_2_12.xml
.idea/libraries/Maven__jstl_jstl_1_2.xml
.idea/libraries/Maven__junit_junit_4_0.xml
.idea/libraries/Maven__opensymphony_ognl_2_6_11.xml
.idea/libraries/Maven__org_apache_myfaces_tomahawk_tomahawk_1_1_6.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_webflow_spring_binding_2_4_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_webflow_spring_faces_2_4_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_webflow_spring_js_2_4_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_webflow_spring_js_resources_2_4_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_webflow_spring_webflow_2_4_0_RELEASE.xml
.idea/libraries/Maven__oro_oro_2_0_8.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
jsf-webflow.iml
